<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<style>
    body{
        height:100%;
        background: #eee;
                /*#FFF0F5*/
    }
    .index-bar {
        border-bottom: 1px solid #ccc;
        padding-bottom: 20px;
    }

    .index-title{
        color: #246094;
        margin-left: 215px;
    }
    .index-block {
        float: right;
        padding-right: 12px;
    }

    .index-btn {
        float: right;
    }

    .selection-bar {
        width: 1000px;
        margin: 10px auto;
    }

    .content {
        width: 1000px;
        margin: 20px auto;
    }

    .myform{
        padding-bottom: 20px;
        text-align: center;
    }

    .table{
        width: 1000px;
        margin: 0 auto;
    }
</style>

<body>
<p class="index-bar h1">
     <span class="index-title">学生综合信息管理系统</span>
    <a href="http://127.0.0.1:8000/logout" class="index-btn btn btn-primary">退出 </a>
    <span class="index-block h4">
       	welcome ,{{ username }}
       </span>
</p>
<div class="selection-bar">
    <nav class="navbar navbar-inverse">

    <ul class="nav navbar-nav" role="tablist">
        <li role="presentation" class="active"><a href="#">主页</a></li>
        <li role="presentation" class="dropdown">
            <a id="drop4" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">
                班级管理
                <span class="caret"></span>
            </a>
            <ul id="menu1" class="dropdown-menu" aria-labelledby="drop4">
                <li><a href="/index/viewclass">班级查询</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/index/viewclassstu">学生查询</a></li>

            </ul>
        </li>
        <li role="presentation" class="dropdown">
            <a id="drop5" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">
                同学管理
                <span class="caret"></span>
            </a>
            <ul id="menu2" class="dropdown-menu" aria-labelledby="drop5">
                <li><a href="/index/viewstudent">查询</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/index/addstudent">增加</a></li>


            </ul>
        </li>
        <li role="presentation" class="dropdown">
            <a id="drop6" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">
                互评管理
                <span class="caret"></span>
            </a>
            <ul id="menu3" class="dropdown-menu" aria-labelledby="drop6">
                <li><a href="/index/review">评分</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/index/viewreview">查看排名</a></li>

            </ul>
        </li>
        <li role="presentation" class="dropdown">
            <a id="drop6" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">
                成绩管理
                <span class="caret"></span>
            </a>
            <ul id="menu3" class="dropdown-menu" aria-labelledby="drop6">
                <li><a href="/index/searchgrade">成绩查询</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/index/addgrade">录入成绩</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/index/editgrade">成绩操作</a></li>


            </ul>
        </li>
        <li role="presentation" class="dropdown">
            <a id="drop6" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">
                设置
                <span class="caret"></span>
            </a>
            <ul id="menu3" class="dropdown-menu" aria-labelledby="drop6">
                <li><a href="/index/changepsw">修改密码</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">个人信息</a></li>

            </ul>
        </li>
    </ul>
    </nav>
</div>

{% block content %}
    <div class="content">这里是默认内容，所有继承自这个模板的，如果不覆盖就显示这里的默认内容。</div>
{% endblock %}
</body>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script>
    $(".addstudent").click(function () {
        alert('添加成功')

    });
    $(".addgrade").click(function () {
        alert('添加成功')

    });
    $('.del').click(function (e) {
        var stuid = $(e.target).attr("data-i");
        $.get('', { //这边路径有问题
            del: stuid
        }, function () {
            alert('删除此条记录? ');
            location.reload()
        })
    });
    $('.alter').click(function (e) {
        var stuid = $(e.target).attr("data-i");
        $.get('', { //这边路径有问题
            alter: stuid
        }, function () {
            alert('修改此条记录?');
            location.reload()
        })
    });
    $('.edit').click(function (e) {
        var stuid = $(e.target).attr("data-i");
        $.get('', { //这边路径有问题
            edit: stuid
        }, function () {
            alert('修改此条记录?');
            location.reload()
        })
    })
</script>

</html>