{% extends 'base.html' %}
{% block content %}

<div id="change-password-dialog" class="content">
    <form id="change-password-form" method="post" class="form-inline myfor" action=''>

        <div class="form-group">
            <label class="">新密码</label>
            <input type="password" class="form-control" name='newpwd' id='newpassword' style="width:120px;"/>
        </div>
        <div class="form-group">
            <label class="">重新输入新密码</label>
            <input type="password" id='newpwd' class="form-control" name='renewpassword' style="width:120px;"/>
        </div>
        <button type="submit" class="changepwd-submit  btn btn-primary">提交</button>
    </form>

</div>
<script>
    $('.changepwd-submit').on(click, function () {
        var pwd1 = $('#newpassword').val();
        var pwd2 = $('#renewpassword').val();
        if (pwd1 != pwd2) {
            alert('两次输入的密码不相等！，请重新输入！');
            location.reload();
        }
    })
</script>
{% endblock %}
