

{% extends 'base.html' %}
{% block title %}修改学生成绩{% endblock %}

{% block content %}

    <div class="content">
        <form class="" action="" method="get">{% csrf_token %}
            <div class="form-group">
                <label for="stuid">请输入您的学号：</label>
                <input type="text" class="form-control" id="stuid" name="stuid" placeholder="如：01">
            </div>

            <button type="submit" class="btn btn-default">查询</button>
        </form>

        <!-- 下面是表格 -->
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>学号</th>
                <th>学院</th>
                <th>姓名</th>
                <th>英语</th>
                <th>高数</th>
                <th>大物</th>
                {% if usertype == "1"%}
                    <th>操作</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for i in gradelist %}
                <tr>
                    <td>{{ i.stuid }}</td>
                    <td>{{ i.acaname }}</td>
                    <td>{{ i.username }}</td>
                    <td>{{ i.grade1 }}</td>
                    <td>{{ i.grade2 }}</td>
                    <td>{{ i.grade3 }}</td>
                    {% if usertype == "1"%}
                        <td>
                            <a href="#" class="del" data-i="{{ i.stuid }}">删除</a>
                            |
                            <a href="/index/altergrade" class="alter" data-i="{{ i.stuid }}">编辑</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>


{% endblock %}